<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Products</title>
    <link rel="stylesheet" href="cssFiles/page3.css">
    <script src="JS_files/page3.js" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/teinda.png" alt="Website Logo">
        </div>
    </header>
    <main>
        <article class="intro">
            <h1>SPORTS EQUIPMENT</h1>
            <button id="cartBtn">
                <a href="/cart" id="cart-link">
                    <img src="/images/cart.png" id="cart-logo" alt="My Cart">
                    <span id="cart-symb-text">Products Cart</span>
                </a>
            </button>
            <p class="centralizePara">Browse Through Our Amazing Collection of Various Sports Equipment</p>
            <hr>
            <p class="centralizePara"> Search For Your Favourite Sports With Filters</p>
        </article>
        <section class="centralizePara" class="dashboard-buttons">
            <button id="footballBtn">Football Products</button>
            <button id="basketballBtn"><a href="#Bball">BasketBall Products</a></button>
            <button id="hockeyBtn"><a href="#hockSt">Hockey Products</a></button>
            <button id="cricketBtn"><a href="#cricBat">Cricket Products</a></button>
            <button id="tennisBtn">Tennis Products</button>
        </section>
    </main>
    <hr>
    <section id="sports-equipment">
        <!-- Product articles with images and placeholders for data -->
        <article id="product-1" class="product">
            <img src="./images/BasketBall.png" alt="Product Image">
            <h3 class="product-name">Product Name</h3>
            <p class="product-description">Product Description</p>
            <p class="product-price">Price: $0</p>
            <button class="btn">Add to Cart</button>
        </article>
        <article id="product-2" class="product">
            <img src="./images/cricket_bat.png" alt="Product Image">
            <h3 class="product-name">Product Name</h3>
            <p class="product-description">Product Description</p>
            <p class="product-price">Price: $0</p>
            <button class="btn">Add to Cart</button>
        </article>
        <!-- Add more product articles as needed -->
    </section>
    <hr>
    <footer>
        <div class="footer">
            <div class="footer-text">
                <p>© 2024 Tienda. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>
