                                   <!-- Seller Product Management DashBoard-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Items Dashboard</title>
    <!--- Add your CSS stylesheet link   here -->
    <link rel="stylesheet" href="cssFiles/page4.css">
     <script src="JS_files/page4.js" defer></script>
</head>
<body>
    <header>
        <div class="logo">  
            <img src="images/teinda.png" alt="Website Logo"> <!-- insert Tienda logo centrally here bro which you have-->
        </div>
    </header> 
<main>
    <article>
        <h1>Seller Items Management Dashboard</h1>
        <button id="sellerDashBtn" class="buttonNextPage">Go To Seller Dashboard</button>
        <p class= "centralizePara">Manage All Your Products</p>
        <p class="centerfont" style="font-style: italic;"> Insert Delete Update On the Go</p>
        <hr>
    </article>
    <!-- will probably add JS later to make page dynamically shown only related product when filter applied-->
    <section class= "centralizePara" class="dashboard-buttons" >
        <button id="addItmBtn"><a href="#add-item"> Add Product </a> </button>
        <button id="delItemBtn"><a href="#del-item"> Remove Product  </a> </button>
        <button id="updateItmBtn"><a href="#update-item"> Update Product </a> </button>
        <button id="putItemOnSaleBtn"><a href="#xxxyyyzz"> Put Item On Sale </a> </button>
        <button id="hideItmBun"><a href="#hide-item"> Hide Item </a> </button>
    </section>
</main>
        <fieldset>
            <legend> Getting Product Info </legend>
             
        <section id="add-item">
            <h2 class="centerfont"> Add New Product</h2>
            <form id="addItem-form">
                <article>
                    <label for="product-name">Product Name:</label>
                    <input type="text" id="product-name" name="Product Name" placeholder="e.g Football" required>
                </article>

                <article>
                    <label for="sale-price">Sale Price:</label>
                    <input type="number" id="sale-price" name="Sale Price" required placeholder="XX $">
                </article>
               
                <article>
                    <label for="product-desc">Product Description:</label>
                    <input type="text" id="product-desc" name="Product_Description" placeholder="Details About the Product">
                </article>

                <article>
                <label for="display-discount">Display Discount:</label>
                <input type="checkbox" id="display-discount" name="display-discount" onchange="toggleDiscountField()">
                </article>

                <article id="discounted-price-container" style="display: none">
                    <label for="discounted-price">Discounted Price:</label>
                    <input type="number" id="discounted-price" name="discounted-price">
                </article>

                <article>
                    <label for="avbQuantity">Product Quantity: </label>
                    <input type="number" id="avbQuantity" name="Available_Quantity" required placeholder="X Pcs">
                </article>

                <article>
                    <label for="category">Category:</label>
                    <select id="pCategory" name="Product Category" required>
                        <option value="others">Select Category</option>
                        <option value="sportsEquipment">Sports Equipment</option>
                        <option value="fitnessEquipment">Fitness Equipment</option>
                        <option value="others">Others</option>
                    </select>
                </article>
                <article>
                    <label for="product-image">Product Image:</label>
                    <input type="file" id="product-image" name="product-image" accept="image/*">
                </article>
                <article>
                    <label for="sellerID"> Your Designated Seller-ID: </label>
                    <input type="number" id="sellerID" name="Seller-ID" required placeholder="If SellerID is incorrect, product will not be added">
                </article>
                <button type="submit">Add Item</button>
            </form>
        </section>
</fieldset> 
    
    <hr>

<fieldset>
            <legend> Product Removal Info </legend>
             
        <section id="del-item">
                <h2 class="centerfont">Remove Item From Store</h2>
                <form id="deleteItem-form">
                    <article>
                        <label for="item-id">Item ID:</label>
                        <input type="text" id="item-id" name="Item ID" placeholder="CT-XXXX" required>
                    </article>
                    <article>
                        <label for="item-name">Item Name:</label>
                        <input type="text" id="item-name" name="item Name" placeholder="e.g Cricket Bat" required autocomplete="on">
                    </article>
                    <button type="submit">Delete Item</button>
                </form>
            </section>
</fieldset> 
<fieldset>
            <legend> Product Update Info </legend>
           
            
        <section id="update-item">
            
            <h2 class="centerfont">Update Product Details</h2>
            <section id="search-item">
                <h3 class="centerfont">Search Item</h3>
                    <form id="search-form">
                    <article>
                        <label for="itemm-id">Item ID:</label>
                        <input type="text" id="item-id" name="Item ID" placeholder="CT-XXXX" required>
                    </article>
                    <article>
                        <label for="itemm-name">Item Name:</label>
                        <input type="text" id="item-name" name="item Name" placeholder="e.g Cricket Bat" required autocomplete="on">
                    </article>
                    <button type="submit">Search</button>
                </form>
            </section>
            <hr>

                <!--After backend DB, the current values of item details, as default, will be in these boxes-->
                <form id="updateItem-form">
                    <article>
                        <label for="item-name">Item Name:</label>
                        <input type="text" id="item-name" name="item Name" placeholder="e.g Cricket Bat" required autocomplete="on">
                    </article>
                    <article>
                        <label for="sale-price">Sale Price:</label>
                        <input type="number" id="sale-price" name="Retail Price" required>
                    </article>
                     
                    <article id="discounted-price-container">
                        <label for="discounted-price">Discounted Price:</label>
                        <input type="number" id="discounted-price" name="discounted-price" placeholder="leave empty if no discount">
                    </article>
                    <article>
                        <label for="category">Category:</label>
                        <select id="category" name="Product Category" required>
                            <option value="others">Select Category</option>
                            <option value="sportsEquipment">Sports Equipment</option>
                            <option value="fitnessEquipment">Fitness Equipment</option>
                            <option value="others">Others</option>
                        </select>
                    </article>
                    <article>
                        <label for="product-image">Product Image:</label>
                        <input type="file" id="product-image" name="product-image" accept="image/*">
                    </article>
                    <button type="submit">Add Item</button>
                </form>
                
                 
               
            </section>
</fieldset> 
    
    <hr>
    <fieldset>
        <section id="hide-item"></section>
        <legend> Hide Product </legend>
        <h2 class="centerfont">Hide Item from Buyers</h2>
    <section id="search-item">
        <h3 class="centerfont">Search Item</h3>
            <form id="search-form_forHide">
            <article>
                <label for="item-id">Item ID:</label>
                <input type="text" id="item-id" name="Item ID" placeholder="CT-XXXX" required>
            </article>
            <article>
                <label for="item-name">Item Name:</label>
                <input type="text" id="item-name" name="item Name" placeholder="e.g Cricket Bat" required autocomplete="on">
            </article>
            <button type="submit">Search</button>
        </form>
    </section>

<!-- Backend functionality here for checking if product found in DB and then show its details-->
<p> Your Entered Product is Found</p>

    <article>
    <label for="display-Item">Hide Product from Buyers</label>
    <input type="checkbox" id="display-Item" name="ItemDisplaytoBuyers" onchange="toggleDisplayOfItem()">
    </article>

    </fieldset>
    <hr>  

    <footer>
        <div class="footer">
            <div class="footer-text">
                <p>© 2024 Tienda. All rights reserved.</p>
            </div>
        </div>
        
    </footer>
</body>
</html> 
